@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

* {
    outline: none;
}

section {
    @apply max-w-7xl mx-auto grid grid-cols-1 gap-4 py-10 md:px-5 lg:px-10;
}

.bg_icon{
    background-image: url('../../public/img/bg_icon_2.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.paginate_bar {
    @apply bg-gray-50 p-3 border-t border-gray-200 flex items-center justify-end;
}

/* ========================= TABLE ========================= */
.table {
    @apply block w-full overflow-x-scroll overflow-y-hidden text-sm;
}

.table tr:not(.table .edit_form){
    @apply h-12;
}

.table th {
    @apply font-semibold text-sm ;
}


.table th:not(tr>th:last-child), 
.table td:not(tr>td:last-child)
{
    @apply pl-4 shrink-0 flex items-center border-r border-gray-200;
}

/* ========================= LEAGAL ========================= */

.legal h1 {
    @apply text-3xl font-semibold;
}

.legal h2 {
    @apply text-2xl font-semibold mb-2;
}

.legal p, .legal ul {
    @apply text-base mb-8 text-justify;
}

.legal li {
    @apply mb-3;
}

/* ========================= ARTICLE ========================= */

.article h1 {
    @apply text-3xl font-semibold;
}

.article h2 {
    @apply text-2xl font-semibold;
}

.article h3 {
    @apply text-xl font-semibold;
}

.article p, .article ul {
    @apply text-base text-justify;
}